.searchBar{
    width: 65%;
    display: flex;
    flex-direction: row-reverse;
    z-index: 10;
    max-width: 400px;

    &__input{
      border: 2.5px solid $c-green;
      width: 100%;
      height: 40px;
      background-color: transparent;
      box-sizing: border-box;
      outline: none;
      font-size: 14px;
      padding: 14px;
      border-radius: 4px;
      font-weight: 300;
      color: #fff;
      -webkit-appearance: none;

        &::placeholder{
            color: #fff;
        }
        &:focus{
            color: #fff;
        }
        &:focus::placeholder{
            opacity: .4;
        }
        &[type="search"]::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 14px;
            width: 14px;
            background-image:url(../assets/images/close.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            cursor: pointer;
        }

        &[type="search"] {
            font-size: inherit;
          }
    }

    &__label{
        display: none;
    }
    &__btn{
        display: none;
    }
}

.searchContent{
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: calc(95% - 48px);
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: 24px;
    padding-top: 0;
    box-sizing: border-box;
    margin-top: 76px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    max-width: 1600px;
    cursor: pointer;

    @include sd{
        padding: 32px;
        padding-top: 0;
        margin-top: 88px;
    }

    @include xxl{
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 120px;
        height: calc(90% - 48px);
    }

    &__el{
      width: calc(50% - 24px);
      margin:0 12px;
      margin-bottom: 16px;

      @include sd{
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
      }

      @include md{
        width: calc(25% - 24px);

      }

      @include xl{
        width: calc(20% - 24px);
      }
    }
    &__img{
        width: 100%;
        height: 230px;
        display: block;
        object-fit: cover;
        margin-bottom: 12px;

        @include sd{
            height: 270px;
          }

        @include lg{
            height: 340px;
        }
     }
}
