$c-green: #48B54E;
$bg-gris: #f8f8f8;
$c-gris : #C2C2C2;


//responsive
$screen-sd : 500px;
$screen-md : 800px;
$screen-lg : 1000px;
$screen-xl : 1100px;
$screen-midxl : 1200px;
$screen-xxl : 1600px;
